#saniye {
   position: absolute;
   top: 39px;
   left: 50%;
   margin-left: -7px;
   width: 14px;
   height: 162px;
   background: url('https://themegion.github.com/AnalogClock/sec.svg') 50% 50% no-repeat;
   z-index: 9;
   transform-origin: 50% 136px;
   }
  #deyqe {
   position: absolute;
   top: 51px;  
   left: 50%;
   margin-left: -8px;
   width: 16px;
   height: 144px;
   background: url('https://themegion.github.com/AnalogClock/min.svg') 50% 50% no-repeat;
   z-index: 7;
   transform-origin: 50% 124px;
}
#saat {
   position: absolute;
   top: 85px;
   left: 50%;
   margin-left: -7px;
   width: 14px;
   height: 110px;
   background: url('https://themegion.github.com/AnalogClock/hour.svg') 50% 50% no-repeat;
   z-index: 5;
   transform-origin: 50% 90px;
}